*{
    margin:auto;
}
body{
    background-color: rgb(107, 108, 108);
}
.container{
    background-color: rgb(230, 231, 221);
    height:500px;
    width:500px;
    margin-top: 100px;
    border-radius: 30px;
    padding: 20px;

    
}
h1,h2{
    text-align: center;
    margin-top: 20px;
}
form input{
    height:40px;
    width: 400px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius:10px ;
    text-align: center;
}
button{
    height:50px;
    width:100px;
    margin:20px;
    align-content: center;
    align-self: center;
    margin-left: 190px;
    border-radius: 20px;
}
.score{
    height: 50px;
    width:200px;
    text-align: center;
    font-size: xx-large;
}
#msg{
    height:40px;
    
    text-align: center;
    padding: 5px;
    font-size: larger;


}